<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Ontology Browser</title>
<meta http-equiv='content-type' content='text/html;charset=UTF-8'>
<link rel='stylesheet' href='../css/default.css' type='text/css' />
</head>

<body>

<div id='tabs'>
<a href='../ontologies/index.html' class='' >Ontologies</a>
<a href='index.html' class='' >Classes</a>
<a href='../objectproperties/index.html' class='' >Object Properties</a>
<a href='../dataproperties/index.html' class='' >Data Properties</a>
<a href='../annotationproperties/index.html' class='' >Annotation Properties</a>
<a href='../individuals/index.html' class='' >Individuals</a>
<a href='../datatypes/index.html' class='' >Datatypes</a>
<a href='../cloud/' class='' >Clouds</a>
</div> <!-- tabs -->


<div class='summary'><h2>Class: Vegetable</h2>

<div id='annotations_(1)'>
<h4>Annotations (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="../annotationproperties/label___653429740.html" class='Annotation Property' title="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a> <span class='literal'>"Vegetable"</span></li>
</ul>
</div>
</div><!-- annotations (1) -->


<div id='superclasses_(1)'>
<h4>Superclasses (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="PrimaryFlavor___1517921525.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#PrimaryFlavor">PrimaryFlavor</a></li>
</ul>
</div>
</div><!-- superclasses (1) -->


<div id='members_(10)'>
<h4>Members (10)</h4>
<div class='codebox'>
<span class="asserted"><a href="../individuals/R3fIO2drtWA1i3gu3O5Yi7___1153304536.html" class='Individual' title="http://webprotege.stanford.edu/R3fIO2drtWA1i3gu3O5Yi7">'Bell&nbsp;Pepper'</a></span>,
<span class="asserted"><a href="../individuals/RB8tYVQqJrmNvPwSnLl0X9b___1476342337.html" class='Individual' title="http://webprotege.stanford.edu/RB8tYVQqJrmNvPwSnLl0X9b">'Black&nbsp;Tea'</a></span>,
<span class="asserted"><a href="../individuals/R7apxJDIwAKT6o7ALkYxV5Z___-1968703994.html" class='Individual' title="http://webprotege.stanford.edu/R7apxJDIwAKT6o7ALkYxV5Z">'Green&nbsp;Almond'</a></span>,
<span class="asserted"><a href="../individuals/R8CoCHZumTL2LdgmRks0yy___-1969863171.html" class='Individual' title="http://webprotege.stanford.edu/R8CoCHZumTL2LdgmRks0yy">'Sun&nbsp;Dried&nbsp;Tomato'</a></span>,
<span class="asserted"><a href="../individuals/R7e819yLyCRVUx1jlsGcCY9___-819846451.html" class='Individual' title="http://webprotege.stanford.edu/R7e819yLyCRVUx1jlsGcCY9">'Tomato&nbsp;Leaf'</a></span>,
<span class="asserted"><a href="../individuals/R8h80ecSwUkflqJ2mPDZN9A___335276710.html" class='Individual' title="http://webprotege.stanford.edu/R8h80ecSwUkflqJ2mPDZN9A">Gooseberry</a></span>,
<span class="asserted"><a href="../individuals/RCw83NaxvxwIFEiz5IE1ZVB___-1635054424.html" class='Individual' title="http://webprotege.stanford.edu/RCw83NaxvxwIFEiz5IE1ZVB">Grass</a></span>,
<span class="asserted"><a href="../individuals/RI1wShP2RStdlF9aMECbfb___262399844.html" class='Individual' title="http://webprotege.stanford.edu/RI1wShP2RStdlF9aMECbfb">Jalapeno</a></span>,
<span class="asserted"><a href="../individuals/RDl62sagYOgybff4By6ZEbX___1034455661.html" class='Individual' title="http://webprotege.stanford.edu/RDl62sagYOgybff4By6ZEbX">Tomato</a></span>,
<span class="asserted"><a href="../individuals/RZb0Oc7VFKisUHswLVPNKI___-875788577.html" class='Individual' title="http://webprotege.stanford.edu/RZb0Oc7VFKisUHswLVPNKI">Vegetable</a></span></div>
</div><!-- members (10) -->

</div> <!-- summary -->
<p class='footer'>
<a href='http://code.google.com/p/ontology-browser/' target='_blank'>OWL HTML inside</a>
</p>
</body>
</html>
