<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Ontology Browser</title>
<meta http-equiv='content-type' content='text/html;charset=UTF-8'>
<link rel='stylesheet' href='../css/default.css' type='text/css' />
</head>

<body>

<div id='tabs'>
<a href='../ontologies/index.html' class='' >Ontologies</a>
<a href='index.html' class='' >Classes</a>
<a href='../objectproperties/index.html' class='' >Object Properties</a>
<a href='../dataproperties/index.html' class='' >Data Properties</a>
<a href='../annotationproperties/index.html' class='' >Annotation Properties</a>
<a href='../individuals/index.html' class='' >Individuals</a>
<a href='../datatypes/index.html' class='' >Datatypes</a>
<a href='../cloud/' class='' >Clouds</a>
</div> <!-- tabs -->


<div class='summary'><h2>Class: 'Red Fruit'</h2>

<div id='annotations_(1)'>
<h4>Annotations (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="../annotationproperties/label___653429740.html" class='Annotation Property' title="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a> <span class='literal'>"Red Fruit"</span></li>
</ul>
</div>
</div><!-- annotations (1) -->


<div id='superclasses_(1)'>
<h4>Superclasses (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="PrimaryFlavor___1517921525.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#PrimaryFlavor">PrimaryFlavor</a></li>
</ul>
</div>
</div><!-- superclasses (1) -->


<div id='members_(8)'>
<h4>Members (8)</h4>
<div class='codebox'>
<span class="asserted"><a href="../individuals/RCT1g3NQ1ATfPCNRvFpglNV___1002955297.html" class='Individual' title="http://webprotege.stanford.edu/RCT1g3NQ1ATfPCNRvFpglNV">'Red&nbsp;Fruit'</a></span>,
<span class="asserted"><a href="../individuals/RC6Yi0t5uXngSwqA34qgr89___-1101938502.html" class='Individual' title="http://webprotege.stanford.edu/RC6Yi0t5uXngSwqA34qgr89">'Red&nbsp;Plum'</a></span>,
<span class="asserted"><a href="../individuals/RDQOBCmhRRFbuUfXGRDwj8Y___678464125.html" class='Individual' title="http://webprotege.stanford.edu/RDQOBCmhRRFbuUfXGRDwj8Y">'Sour&nbsp;Cherry'</a></span>,
<span class="asserted"><a href="../individuals/R3nh0sIYhvhfACRKP4C2md___-427030647.html" class='Individual' title="http://webprotege.stanford.edu/R3nh0sIYhvhfACRKP4C2md">Cherry</a></span>,
<span class="asserted"><a href="../individuals/RDLGkyb0Q3MrsY66TulkZUT___-1922024723.html" class='Individual' title="http://webprotege.stanford.edu/RDLGkyb0Q3MrsY66TulkZUT">Cranberry</a></span>,
<span class="asserted"><a href="../individuals/R9JGdmcEOJZcE2zJXi2x0S1___730162129.html" class='Individual' title="http://webprotege.stanford.edu/R9JGdmcEOJZcE2zJXi2x0S1">Pomegranate</a></span>,
<span class="asserted"><a href="../individuals/RDtrLC1B8Sn2NnIWTD8hswD___1446690213.html" class='Individual' title="http://webprotege.stanford.edu/RDtrLC1B8Sn2NnIWTD8hswD">Raspberry</a></span>,
<span class="asserted"><a href="../individuals/RBjt5umabtzIXVx7nEzjQBK___50573553.html" class='Individual' title="http://webprotege.stanford.edu/RBjt5umabtzIXVx7nEzjQBK">Strawberry</a></span></div>
</div><!-- members (8) -->

</div> <!-- summary -->
<p class='footer'>
<a href='http://code.google.com/p/ontology-browser/' target='_blank'>OWL HTML inside</a>
</p>
</body>
</html>
