<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Ontology Browser</title>
<meta http-equiv='content-type' content='text/html;charset=UTF-8'>
<link rel='stylesheet' href='../css/default.css' type='text/css' />
</head>

<body>

<div id='tabs'>
<a href='../ontologies/index.html' class='' >Ontologies</a>
<a href='index.html' class='' >Classes</a>
<a href='../objectproperties/index.html' class='' >Object Properties</a>
<a href='../dataproperties/index.html' class='' >Data Properties</a>
<a href='../annotationproperties/index.html' class='' >Annotation Properties</a>
<a href='../individuals/index.html' class='' >Individuals</a>
<a href='../datatypes/index.html' class='' >Datatypes</a>
<a href='../cloud/' class='' >Clouds</a>
</div> <!-- tabs -->


<div class='summary'><h2>Class: Citrus</h2>

<div id='annotations_(1)'>
<h4>Annotations (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="../annotationproperties/label___653429740.html" class='Annotation Property' title="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a> <span class='literal'>"Citrus"</span></li>
</ul>
</div>
</div><!-- annotations (1) -->


<div id='superclasses_(1)'>
<h4>Superclasses (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="PrimaryFlavor___1517921525.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#PrimaryFlavor">PrimaryFlavor</a></li>
</ul>
</div>
</div><!-- superclasses (1) -->


<div id='members_(8)'>
<h4>Members (8)</h4>
<div class='codebox'>
<span class="asserted"><a href="../individuals/R7PiYivMGHqzCAR6L6mZxEj___-371218241.html" class='Individual' title="http://webprotege.stanford.edu/R7PiYivMGHqzCAR6L6mZxEj">Citrus</a></span>,
<span class="asserted"><a href="../individuals/RDZWdWwgA0zZW6kuRvIzzE___-925702316.html" class='Individual' title="http://webprotege.stanford.edu/RDZWdWwgA0zZW6kuRvIzzE">Grapefruit</a></span>,
<span class="asserted"><a href="../individuals/R9C6G4DQWh6j2e5Cpe48Srr___-534052502.html" class='Individual' title="http://webprotege.stanford.edu/R9C6G4DQWh6j2e5Cpe48Srr">Lemon</a></span>,
<span class="asserted"><a href="../individuals/RSagArf0ePDDouEfkiQZ1q___1077346533.html" class='Individual' title="http://webprotege.stanford.edu/RSagArf0ePDDouEfkiQZ1q">Lime</a></span>,
<span class="asserted"><a href="../individuals/RBv409aqLYHIn8a2Ehrf15j___1600969033.html" class='Individual' title="http://webprotege.stanford.edu/RBv409aqLYHIn8a2Ehrf15j">Mandarin</a></span>,
<span class="asserted"><a href="../individuals/R7qLsSrdMA35wvDpAgA8DmM___-1373876130.html" class='Individual' title="http://webprotege.stanford.edu/R7qLsSrdMA35wvDpAgA8DmM">Marmalade</a></span>,
<span class="asserted"><a href="../individuals/RB6Yl9Aj4eowmenOPK2wMni___1105785527.html" class='Individual' title="http://webprotege.stanford.edu/RB6Yl9Aj4eowmenOPK2wMni">Orange</a></span>,
<span class="asserted"><a href="../individuals/RDO3jxwl6v8Ge1kYtM4kgNV___926143495.html" class='Individual' title="http://webprotege.stanford.edu/RDO3jxwl6v8Ge1kYtM4kgNV">Tangerine</a></span></div>
</div><!-- members (8) -->

</div> <!-- summary -->
<p class='footer'>
<a href='http://code.google.com/p/ontology-browser/' target='_blank'>OWL HTML inside</a>
</p>
</body>
</html>
