<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Ontology Browser</title>
<meta http-equiv='content-type' content='text/html;charset=UTF-8'>
<link rel='stylesheet' href='../css/default.css' type='text/css' />
</head>

<body>

<div id='tabs'>
<a href='../ontologies/index.html' class='' >Ontologies</a>
<a href='index.html' class='' >Classes</a>
<a href='../objectproperties/index.html' class='' >Object Properties</a>
<a href='../dataproperties/index.html' class='' >Data Properties</a>
<a href='../annotationproperties/index.html' class='' >Annotation Properties</a>
<a href='../individuals/index.html' class='' >Individuals</a>
<a href='../datatypes/index.html' class='' >Datatypes</a>
<a href='../cloud/' class='' >Clouds</a>
</div> <!-- tabs -->


<div class='summary'><h2>Class: 'Dried Fruit'</h2>

<div id='annotations_(1)'>
<h4>Annotations (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="../annotationproperties/label___653429740.html" class='Annotation Property' title="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a> <span class='literal'>"Dried Fruit"</span></li>
</ul>
</div>
</div><!-- annotations (1) -->


<div id='superclasses_(1)'>
<h4>Superclasses (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="PrimaryFlavor___1517921525.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#PrimaryFlavor">PrimaryFlavor</a></li>
</ul>
</div>
</div><!-- superclasses (1) -->


<div id='members_(5)'>
<h4>Members (5)</h4>
<div class='codebox'>
<span class="asserted"><a href="../individuals/R7AeIxP9KfY0DEqSdhqoJst___1400095869.html" class='Individual' title="http://webprotege.stanford.edu/R7AeIxP9KfY0DEqSdhqoJst">'Dried&nbsp;Fruit'</a></span>,
<span class="asserted"><a href="../individuals/R97Idf1yIKdcX70Fj10gtjg___-2091484092.html" class='Individual' title="http://webprotege.stanford.edu/R97Idf1yIKdcX70Fj10gtjg">Date</a></span>,
<span class="asserted"><a href="../individuals/RD1r6FXttPlbvsQgdqE8JT6___-957458734.html" class='Individual' title="http://webprotege.stanford.edu/RD1r6FXttPlbvsQgdqE8JT6">Fig</a></span>,
<span class="asserted"><a href="../individuals/RDc4gCXWvGyBW0cNO4Muvsb___567641158.html" class='Individual' title="http://webprotege.stanford.edu/RDc4gCXWvGyBW0cNO4Muvsb">Fruitcake</a></span>,
<span class="asserted"><a href="../individuals/R7vEYyilJnMu0K8I8c3WQyS___-422239881.html" class='Individual' title="http://webprotege.stanford.edu/R7vEYyilJnMu0K8I8c3WQyS">Raisin</a></span></div>
</div><!-- members (5) -->

</div> <!-- summary -->
<p class='footer'>
<a href='http://code.google.com/p/ontology-browser/' target='_blank'>OWL HTML inside</a>
</p>
</body>
</html>
