<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Ontology Browser</title>
<meta http-equiv='content-type' content='text/html;charset=UTF-8'>
<link rel='stylesheet' href='../css/default.css' type='text/css' />
</head>

<body>

<div id='tabs'>
<a href='../ontologies/index.html' class='' >Ontologies</a>
<a href='index.html' class='' >Classes</a>
<a href='../objectproperties/index.html' class='' >Object Properties</a>
<a href='../dataproperties/index.html' class='' >Data Properties</a>
<a href='../annotationproperties/index.html' class='' >Annotation Properties</a>
<a href='../individuals/index.html' class='' >Individuals</a>
<a href='../datatypes/index.html' class='' >Datatypes</a>
<a href='../cloud/' class='' >Clouds</a>
</div> <!-- tabs -->


<div class='summary'><h2>Class: Flower</h2>

<div id='annotations_(1)'>
<h4>Annotations (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="../annotationproperties/label___653429740.html" class='Annotation Property' title="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a> <span class='literal'>"Flower"</span></li>
</ul>
</div>
</div><!-- annotations (1) -->


<div id='superclasses_(1)'>
<h4>Superclasses (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="PrimaryFlavor___1517921525.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#PrimaryFlavor">PrimaryFlavor</a></li>
</ul>
</div>
</div><!-- superclasses (1) -->


<div id='members_(13)'>
<h4>Members (13)</h4>
<div class='codebox'>
<span class="asserted"><a href="../individuals/RDv9htyvjsrK11xRuTaVyho___-867516228.html" class='Individual' title="http://webprotege.stanford.edu/RDv9htyvjsrK11xRuTaVyho">Acacia</a></span>,
<span class="asserted"><a href="../individuals/RCvOBxOrUc5NaBQqtuBTS7___2488780.html" class='Individual' title="http://webprotege.stanford.edu/RCvOBxOrUc5NaBQqtuBTS7">Elderflower</a></span>,
<span class="asserted"><a href="../individuals/RkQoJyB2RyWQ06G9FMaPe7___-1278685727.html" class='Individual' title="http://webprotege.stanford.edu/RkQoJyB2RyWQ06G9FMaPe7">Flower</a></span>,
<span class="asserted"><a href="../individuals/RDoXQqXcA6UVryFxRSFDSnp___1759039339.html" class='Individual' title="http://webprotege.stanford.edu/RDoXQqXcA6UVryFxRSFDSnp">Hibiscus</a></span>,
<span class="asserted"><a href="../individuals/R9CsqmnTrWgniGQTKbHsWPu___-2050358978.html" class='Individual' title="http://webprotege.stanford.edu/R9CsqmnTrWgniGQTKbHsWPu">Honeysuckle</a></span>,
<span class="asserted"><a href="../individuals/RDewhgoSbFAxghL9418VUnG___-579237363.html" class='Individual' title="http://webprotege.stanford.edu/RDewhgoSbFAxghL9418VUnG">Iris</a></span>,
<span class="asserted"><a href="../individuals/RX1iOWs4qpjL5IYs0hooW7___-1936431752.html" class='Individual' title="http://webprotege.stanford.edu/RX1iOWs4qpjL5IYs0hooW7">Jasmine</a></span>,
<span class="asserted"><a href="../individuals/R8u9rTLtJjs8j1j80WgTJjM___1755704021.html" class='Individual' title="http://webprotege.stanford.edu/R8u9rTLtJjs8j1j80WgTJjM">Lavender</a></span>,
<span class="asserted"><a href="../individuals/RXbJaSIREgueM1Fsc1crWS___1497977007.html" class='Individual' title="http://webprotege.stanford.edu/RXbJaSIREgueM1Fsc1crWS">Lilac</a></span>,
<span class="asserted"><a href="../individuals/RBrUWpc6etmpA45Zdl7xgQM___-1454744069.html" class='Individual' title="http://webprotege.stanford.edu/RBrUWpc6etmpA45Zdl7xgQM">Peony</a></span>,
<span class="asserted"><a href="../individuals/RClVo3giwFASDGuhsmiCXUf___186634599.html" class='Individual' title="http://webprotege.stanford.edu/RClVo3giwFASDGuhsmiCXUf">Potpourri</a></span>,
<span class="asserted"><a href="../individuals/RWL60nvfSe0MC8nCqUMPxD___1122013139.html" class='Individual' title="http://webprotege.stanford.edu/RWL60nvfSe0MC8nCqUMPxD">Rose</a></span>,
<span class="asserted"><a href="../individuals/RDaJoIOwzSel7BY17953sSQ___120628219.html" class='Individual' title="http://webprotege.stanford.edu/RDaJoIOwzSel7BY17953sSQ">Violet</a></span></div>
</div><!-- members (13) -->

</div> <!-- summary -->
<p class='footer'>
<a href='http://code.google.com/p/ontology-browser/' target='_blank'>OWL HTML inside</a>
</p>
</body>
</html>
