<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Ontology Browser</title>
<meta http-equiv='content-type' content='text/html;charset=UTF-8'>
<link rel='stylesheet' href='../css/default.css' type='text/css' />
</head>

<body>

<div id='tabs'>
<a href='../ontologies/index.html' class='' >Ontologies</a>
<a href='index.html' class='' >Classes</a>
<a href='../objectproperties/index.html' class='' >Object Properties</a>
<a href='../dataproperties/index.html' class='' >Data Properties</a>
<a href='../annotationproperties/index.html' class='' >Annotation Properties</a>
<a href='../individuals/index.html' class='' >Individuals</a>
<a href='../datatypes/index.html' class='' >Datatypes</a>
<a href='../cloud/' class='' >Clouds</a>
</div> <!-- tabs -->


<div class='summary'><h2>Class: Spice</h2>

<div id='annotations_(1)'>
<h4>Annotations (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="../annotationproperties/label___653429740.html" class='Annotation Property' title="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a> <span class='literal'>"Spice"</span></li>
</ul>
</div>
</div><!-- annotations (1) -->


<div id='superclasses_(1)'>
<h4>Superclasses (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="PrimaryFlavor___1517921525.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#PrimaryFlavor">PrimaryFlavor</a></li>
</ul>
</div>
</div><!-- superclasses (1) -->


<div id='members_(15)'>
<h4>Members (15)</h4>
<div class='codebox'>
<span class="asserted"><a href="../individuals/RCtdZamzhhn0WT8uij03YFi___1435391505.html" class='Individual' title="http://webprotege.stanford.edu/RCtdZamzhhn0WT8uij03YFi">'Asian&nbsp;5&nbsp;Spice'</a></span>,
<span class="asserted"><a href="../individuals/R7vfOLTlW7oUoksIoZgvLkI___-110633160.html" class='Individual' title="http://webprotege.stanford.edu/R7vfOLTlW7oUoksIoZgvLkI">'Black&nbsp;Pepper'</a></span>,
<span class="asserted"><a href="../individuals/RCCiIfdFFvWOlmdOKESOfct___-1757743519.html" class='Individual' title="http://webprotege.stanford.edu/RCCiIfdFFvWOlmdOKESOfct">'Red&nbsp;Pepper'</a></span>,
<span class="asserted"><a href="../individuals/R9maa3PY9NeXVWXVW2em0pq___-1534793701.html" class='Individual' title="http://webprotege.stanford.edu/R9maa3PY9NeXVWXVW2em0pq">'White&nbsp;Pepper'</a></span>,
<span class="asserted"><a href="../individuals/RDhLQEfeaHGUgkJVKErJ4U0___-567721607.html" class='Individual' title="http://webprotege.stanford.edu/RDhLQEfeaHGUgkJVKErJ4U0">Anise</a></span>,
<span class="asserted"><a href="../individuals/RDBugzFqP3W2PrDr8cwkUPJ___-941393047.html" class='Individual' title="http://webprotege.stanford.edu/RDBugzFqP3W2PrDr8cwkUPJ">Cinammon</a></span>,
<span class="asserted"><a href="../individuals/RCrTTUQmvKC1MjiQSd7ChBN___456179401.html" class='Individual' title="http://webprotege.stanford.edu/RCrTTUQmvKC1MjiQSd7ChBN">Clove</a></span>,
<span class="asserted"><a href="../individuals/R99jIcPNeupNWYcSz2QnwtM___-929584875.html" class='Individual' title="http://webprotege.stanford.edu/R99jIcPNeupNWYcSz2QnwtM">Eucalyptus</a></span>,
<span class="asserted"><a href="../individuals/RDwgXJ9hLEOop3BGfqH35TB___515798515.html" class='Individual' title="http://webprotege.stanford.edu/RDwgXJ9hLEOop3BGfqH35TB">Fennel</a></span>,
<span class="asserted"><a href="../individuals/R8oN8eFUfmjvMqOG6X7Rmqh___900644289.html" class='Individual' title="http://webprotege.stanford.edu/R8oN8eFUfmjvMqOG6X7Rmqh">Herb</a></span>,
<span class="asserted"><a href="../individuals/R9n67qgQ4MpK4QcWPSGx6lq___479514041.html" class='Individual' title="http://webprotege.stanford.edu/R9n67qgQ4MpK4QcWPSGx6lq">Licorice</a></span>,
<span class="asserted"><a href="../individuals/RBlc7tCI9RPo63Tumj69sav___-136521934.html" class='Individual' title="http://webprotege.stanford.edu/RBlc7tCI9RPo63Tumj69sav">Mint</a></span>,
<span class="asserted"><a href="../individuals/RDbhGVV6RFcD9sy5WOH1GNP___1142474048.html" class='Individual' title="http://webprotege.stanford.edu/RDbhGVV6RFcD9sy5WOH1GNP">Nutmeg</a></span>,
<span class="asserted"><a href="../individuals/RCFsEReFVNu7l15BKTILytF___1854525233.html" class='Individual' title="http://webprotege.stanford.edu/RCFsEReFVNu7l15BKTILytF">Spice</a></span>,
<span class="asserted"><a href="../individuals/R8dzkhW5TZe8XOXHFbn221T___1156518024.html" class='Individual' title="http://webprotege.stanford.edu/R8dzkhW5TZe8XOXHFbn221T">Thyme</a></span></div>
</div><!-- members (15) -->

</div> <!-- summary -->
<p class='footer'>
<a href='http://code.google.com/p/ontology-browser/' target='_blank'>OWL HTML inside</a>
</p>
</body>
</html>
