<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Ontology Browser</title>
<meta http-equiv='content-type' content='text/html;charset=UTF-8'>
<link rel='stylesheet' href='../css/default.css' type='text/css' />
</head>

<body>

<div id='tabs'>
<a href='../ontologies/index.html' class='' >Ontologies</a>
<a href='index.html' class='' >Classes</a>
<a href='../objectproperties/index.html' class='' >Object Properties</a>
<a href='../dataproperties/index.html' class='' >Data Properties</a>
<a href='../annotationproperties/index.html' class='' >Annotation Properties</a>
<a href='../individuals/index.html' class='' >Individuals</a>
<a href='../datatypes/index.html' class='' >Datatypes</a>
<a href='../cloud/' class='' >Clouds</a>
</div> <!-- tabs -->


<div class='summary'><h2>Class: Earth</h2>

<div id='annotations_(1)'>
<h4>Annotations (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="../annotationproperties/label___653429740.html" class='Annotation Property' title="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a> <span class='literal'>"Earth"</span></li>
</ul>
</div>
</div><!-- annotations (1) -->


<div id='superclasses_(1)'>
<h4>Superclasses (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="PrimaryFlavor___1517921525.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#PrimaryFlavor">PrimaryFlavor</a></li>
</ul>
</div>
</div><!-- superclasses (1) -->


<div id='members_(10)'>
<h4>Members (10)</h4>
<div class='codebox'>
<span class="asserted"><a href="../individuals/R988gPY8yaoznpxi3wQedtg___1825043796.html" class='Individual' title="http://webprotege.stanford.edu/R988gPY8yaoznpxi3wQedtg">'Clay&nbsp;Pot'</a></span>,
<span class="asserted"><a href="../individuals/R7w27eiQXie2URWOKlUNmoL___-1167772623.html" class='Individual' title="http://webprotege.stanford.edu/R7w27eiQXie2URWOKlUNmoL">'Potting&nbsp;Soil'</a></span>,
<span class="asserted"><a href="../individuals/RCdbxyQX9fZPbi2MUi2NFRM___619142143.html" class='Individual' title="http://webprotege.stanford.edu/RCdbxyQX9fZPbi2MUi2NFRM">'Red&nbsp;Beet'</a></span>,
<span class="asserted"><a href="../individuals/R7xgazSYFFwdvxr5yC7H3vc___-1895673654.html" class='Individual' title="http://webprotege.stanford.edu/R7xgazSYFFwdvxr5yC7H3vc">'Volcanic&nbsp;Rock'</a></span>,
<span class="asserted"><a href="../individuals/RYG1HScyh2IH7a8aH5Mn4H___-754108358.html" class='Individual' title="http://webprotege.stanford.edu/RYG1HScyh2IH7a8aH5Mn4H">'Wet&nbsp;Cement'</a></span>,
<span class="asserted"><a href="../individuals/RBl8JvlFarFz0Q44zDWz0ep___398898992.html" class='Individual' title="http://webprotege.stanford.edu/RBl8JvlFarFz0Q44zDWz0ep">'Wet&nbsp;Gravel'</a></span>,
<span class="asserted"><a href="../individuals/RBInJCaDbYK9EeqQTwTND9k___-1189917331.html" class='Individual' title="http://webprotege.stanford.edu/RBInJCaDbYK9EeqQTwTND9k">Earth</a></span>,
<span class="asserted"><a href="../individuals/RXFFBvtds1cx3tBYpeTyCF___481128508.html" class='Individual' title="http://webprotege.stanford.edu/RXFFBvtds1cx3tBYpeTyCF">Mud</a></span>,
<span class="asserted"><a href="../individuals/R8HWNtrh8cqD4zwwXAEGE8S___-648975606.html" class='Individual' title="http://webprotege.stanford.edu/R8HWNtrh8cqD4zwwXAEGE8S">Petroleum</a></span>,
<span class="asserted"><a href="../individuals/RXwQ7yyx04UClrDeO17ODK___-264149435.html" class='Individual' title="http://webprotege.stanford.edu/RXwQ7yyx04UClrDeO17ODK">Slate</a></span></div>
</div><!-- members (10) -->

</div> <!-- summary -->
<p class='footer'>
<a href='http://code.google.com/p/ontology-browser/' target='_blank'>OWL HTML inside</a>
</p>
</body>
</html>
