<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Ontology Browser</title>
<meta http-equiv='content-type' content='text/html;charset=UTF-8'>
<link rel='stylesheet' href='../css/default.css' type='text/css' />
</head>

<body>

<div id='tabs'>
<a href='../ontologies/index.html' class='' >Ontologies</a>
<a href='index.html' class='' >Classes</a>
<a href='../objectproperties/index.html' class='' >Object Properties</a>
<a href='../dataproperties/index.html' class='' >Data Properties</a>
<a href='../annotationproperties/index.html' class='' >Annotation Properties</a>
<a href='../individuals/index.html' class='' >Individuals</a>
<a href='../datatypes/index.html' class='' >Datatypes</a>
<a href='../cloud/' class='' >Clouds</a>
</div> <!-- tabs -->


<div class='summary'><h2>Class: 'Noble Rot'</h2>

<div id='annotations_(1)'>
<h4>Annotations (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="../annotationproperties/label___653429740.html" class='Annotation Property' title="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a> <span class='literal'>"Noble Rot"</span></li>
</ul>
</div>
</div><!-- annotations (1) -->


<div id='superclasses_(1)'>
<h4>Superclasses (1)</h4>
<div class='codebox'>
<ul>
<li class="asserted"><a href="PrimaryFlavor___1517921525.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#PrimaryFlavor">PrimaryFlavor</a></li>
</ul>
</div>
</div><!-- superclasses (1) -->


<div id='members_(4)'>
<h4>Members (4)</h4>
<div class='codebox'>
<span class="asserted"><a href="../individuals/RpwhUDu0toaizXshAqnvke___2047881451.html" class='Individual' title="http://webprotege.stanford.edu/RpwhUDu0toaizXshAqnvke">'Noble&nbsp;Rot'</a></span>,
<span class="asserted"><a href="../individuals/RCs0IDnO1oWeBbl6McL45h6___-1535193873.html" class='Individual' title="http://webprotege.stanford.edu/RCs0IDnO1oWeBbl6McL45h6">Beeswax</a></span>,
<span class="asserted"><a href="../individuals/RDWvFyaWY26FzsXAVfVqHfy___1993456789.html" class='Individual' title="http://webprotege.stanford.edu/RDWvFyaWY26FzsXAVfVqHfy">Ginger</a></span>,
<span class="asserted"><a href="../individuals/RCB5ajytfAAZzGXuvcDfQO0___-1158620025.html" class='Individual' title="http://webprotege.stanford.edu/RCB5ajytfAAZzGXuvcDfQO0">Saffron</a></span></div>
</div><!-- members (4) -->

</div> <!-- summary -->
<p class='footer'>
<a href='http://code.google.com/p/ontology-browser/' target='_blank'>OWL HTML inside</a>
</p>
</body>
</html>
