{% extends 'layout.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Page</h1>
</div>
<p class="lead">Welcome to our website!</p>
<p>This a website made for the Information Organisation course. The domain of this website is wine and wine flavors.</p>
<p>Users can use this website to filter wines out of our dataset that fit their specific taste, based on wine flavors.</p>
<p>Let's say that an user likes to drink wines that have a black fruity flavor, and they like their wine aged. They will be able to find a wine suitable for them using the 'Black Fruit' and 'General Aging' filters.</p>
<p>When clicking on a wine, they will be able to see more detailed information about the wine. A description based on reviews, price, variety and points are included.</p>


{% endblock %}
