{% extends "layout.html" %}

{% block content %}
<div class="container-fluid pb-3 flex-grow-1 flex-column flex-sm-row overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <aside class="col-sm-2 flex-grow-sm-1 flex-shrink-1 flex-grow-0 sticky-top pb-sm-0 pb-3">
            <div class="bg-light border rounded-3 p-1 h-100 sticky-top">
                <h3>Filter</h3>
                <div class="container">
                    <h4>Primary taste</h4>
                    <form>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="primarytaste" id="RedFruit">
                            <label class="form-check-label" for="RedFruit">
                                Red fruit
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="primarytaste" id="BlackFruit">
                            <label class="form-check-label" for="BlackFruit">
                                Black fruit
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="primarytaste" id="TreeFruit">
                            <label class="form-check-label" for="TreeFruit">
                                Tree fruit
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="primarytaste" id="TropicalFruit">
                            <label class="form-check-label" for="TropicalFruit">
                                Tropical fruit
                            </label>
                        </div>
                    </form>

                </div>
            </div>
        </aside>
        <main class="col overflow-auto h-100">
            <div class="p-3">

                <!-- Amount of rows-->
                {% for row in data | batch(4) %}
                    <div class="row align-items-start">
                  
                        <!-- Amount of columns-->
                        {% for column in row %}
                        <div class="col-md-3 p-2">
                            <div class="card" style="width: 18rem;">
                                <img src="{{url_for('static', filename='wine_bottle.png')}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{column[0]}}</h5>
                                    <p class="card-text"><b>Variety:</b> {{column[1]}}</p>
                                    <p class="card-text"><b>Country:</b> {{column[2]}}</p>
                                    <p class="card-text"><b>Description:</b> {{column[3]}}</p>
                                    <a href="#" class="btn btn-primary">See wine</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
</div>


{% endblock %}