{% extends "layout.html" %}
{% block title %}Product Page{% endblock %}

{% block content %}

<head>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{result.title}}",
      "description": "result.description",
      "additionalProperty": {
        "@type": "PropertyValue",
        "primaryFlavor": "{{result.primary_flavor}}",
        "secondaryFlavor": "{{result.secondary_flavor}}",
        "tertiaryFlavor": "{{result.tertiary_flavor}}"
      },
      "review": {
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "{{result.points}}",
          "bestRating": "100"
        },
        "author": {
          "@type": "Person",
          "name": "{{result.taster_name}}"
        }
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "{{result.points}}",
        "reviewCount": "1"
      }
    }
</script>
</head>

<body>
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6">
              {% if result.id < 16666 %}
                  <img class="card-img-top mb-5 mb-md-0" src="{{url_for('static', filename='red_wine_original.png')}}" alt="Sample picture">
              {% elif (result.id > 16666 and result.id < 33333) %}
                  <img class="card-img-top mb-5 mb-md-0" src="{{url_for('static', filename='white_wine_original.png')}}" alt="Sample picture">
              {% else %}
                  <img class="card-img-top mb-5 mb-md-0" src="{{url_for('static', filename='bubbly_wine_original.png')}}" alt="Sample picture">
              {% endif %}

              <!--<img class="card-img-top mb-5 mb-md-0" src="https://images.vivino.com/thumbs/aYimFlGMTjuSk-apP30k1g_375x500.jpg" alt="...">-->
          </div>

          <div class="col-md-6">
              <div class="medium mb-1">{{result.variety}}</div>
              <h1 class="display-7 fw-bolder">{{result.title}}</h1>
              <div class="fs-5 mb-5">
                  <span>${{result.price}}</span>
              </div>
              <p class="lead">{{result.description}} - <strong>Author: <a href="https://twitter.com/{{taster_twitter_handle}}">{{result.taster_name}}</a></strong>  </p>
              <div class="fs-5 mb-5">
              <span class="medium mb-1">Main Flavors: </span>
              <!--change colors-->
              {% if result.primary_flavor %}
              <a href="{{url_for('ontology')}}"><span class="badge rounded-pill" style="background-color:#6200EE">{{result.primary_flavor}}</span></a>
              {% endif %}
              {% if result.secondary_flavor %}
              <span class="badge rounded-pill" style="background-color:#230760">{{result.secondary_flavor}}</span>
              {% endif %}
              {% if result.tertiary_flavor %}
              <span class="badge rounded-pill" style="background-color:#9441fb">{{result.tertiary_flavor}}</span>
              {% endif %}
              </div>
              <div class="d-flex">
                  <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem">
                  <button class="btn btn-outline-dark flex-shrink-0" type="button">
                      <i class="bi-cart-fill me-1"></i>
                      Add to cart
                  </button>
              </div>
              <div class="container mb-4 mt-4">
                <ul class="list-group">
                  <li class="list-group-item">Score: {{result.points}}/100</li>
                  <li class="list-group-item">Year: {{result.year}}</li>
                  <li class="list-group-item">Region: {{result.region_1}}</li>
                </ul>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">Related products</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Product image-->
                  <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">Fancy Product</h5>
                          <!-- Product price-->
                          $40.00 - $80.00
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                  </div>
              </div>
          </div>
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Sale badge-->
                  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                  <!-- Product image-->
                  <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">Special Item</h5>
                          <!-- Product reviews-->
                          <div class="d-flex justify-content-center small text-warning mb-2">
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                          </div>
                          <!-- Product price-->
                          <span class="text-muted text-decoration-line-through">$20.00</span>
                          $18.00
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                  </div>
              </div>
          </div>
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Sale badge-->
                  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                  <!-- Product image-->
                  <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">Sale Item</h5>
                          <!-- Product price-->
                          <span class="text-muted text-decoration-line-through">$50.00</span>
                          $25.00
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                  </div>
              </div>
          </div>
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Product image-->
                  <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">Popular Item</h5>
                          <!-- Product reviews-->
                          <div class="d-flex justify-content-center small text-warning mb-2">
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                          </div>
                          <!-- Product price-->
                          $40.00
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
</body>

{% endblock %}

