{% extends "layout.html" %}
{% block title %}Product Page{% endblock %}

{% block content %}

<head>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{result.title}}",
      "description": "result.description",
      "additionalProperty": {
        "@type": "PropertyValue",
        "primaryFlavor": "Cherry"
      },
      "review": {
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "{{result.points}}",
          "bestRating": "100"
        },
        "author": {
          "@type": "Person",
          "name": "{{result.taster_name}}"
        }
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "{{result.points}}",
        "reviewCount": "1"
      }
    }
</script>
</head>

<body>
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">



          <div class="col-md-6">
              {% if result.id < 16666 %}
                  <img class="card-img-top mb-5 mb-md-0" src="{{url_for('static', filename='red_wine_original.png')}}" alt="Sample picture">
              {% elif (result.id > 16666 and result.id < 33333) %}
                  <img class="card-img-top mb-5 mb-md-0" src="{{url_for('static', filename='white_wine_original.png')}}" alt="Sample picture">
              {% else %}
                  <img class="card-img-top mb-5 mb-md-0" src="{{url_for('static', filename='bubbly_wine_original.png')}}" alt="Sample picture">
              {% endif %}

              <!--<img class="card-img-top mb-5 mb-md-0" src="https://images.vivino.com/thumbs/aYimFlGMTjuSk-apP30k1g_375x500.jpg" alt="...">-->
          </div>

          <div class="col-md-6">
              <div class="medium mb-1">{{result.variety}}</div>
              <h1 class="display-7 fw-bolder">{{result.title}}</h1>
              <div class="fs-5 mb-5">
                  <span>${{result.price}}</span>
              </div>
              <p class="lead">{{result.description}} - <strong>Author: <a href="https://twitter.com/{{taster_twitter_handle}}">{{result.taster_name}}</a></strong>  </p>
              <div class="fs-5 mb-5">
              <span class="medium mb-1">Main Flavors: </span>
              <!--change colors-->
              {% if result.primary_flavor %}
              <a href="{{url_for('ontology.get_class', class_name='PrimaryFlavor')}}"><span class="badge rounded-pill" style="background-color:#6200EE">{{result.primary_flavor}}</span></a>
              {% endif %}
              {% if result.secondary_flavor %}
              <a href="{{url_for('ontology.get_class', class_name='SecondaryFlavor')}}"><span class="badge rounded-pill" style="background-color:#230760">{{result.secondary_flavor}}</span></a>
              {% endif %}
              {% if result.tertiary_flavor %}
              <a href="{{url_for('ontology.get_class', class_name='TertiaryFlavor')}}"><span class="badge rounded-pill" style="background-color:#9441fb">{{result.tertiary_flavor}}</span></a>
              {% endif %}
              </div>
              <div class="d-flex">
                  <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem">
                  <button class="btn btn-outline-dark flex-shrink-0" type="button">
                      <i class="bi-cart-fill me-1"></i>
                      Add to cart
                  </button>
              </div>
              <div class="container mb-4 mt-4">
                <ul class="list-group">
                  <li class="list-group-item">Score: {{result.points}}/100</li>
                  <li class="list-group-item">Year: {{result.year}}</li>
                  <li class="list-group-item">Region: {{result.region_1}}</li>
                </ul>
              </div>
          </div>
      </div>
  </div>
</section>

</body>

{% endblock %}

