<div class='owlselector'>
<h2>All Classes (41)</h2>

<div class='codebox' id='ID2412848281097091202'>
<ul>
<li class="asserted"><a href="Thing___-200689702.html" class='Class' title="http://www.w3.org/2002/07/owl#Thing">owl:Thing</a></li>
<li class="asserted"><a href="{{url_for('ontology.get_class', class_name='WineFlavor')}}" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#WineFlavor">WineFlavor</a></li>
<li class="asserted"><a href="RdnMxOwaSD1pVjIe9sumlY___692483899.html" class='Class' title="http://webprotege.stanford.edu/RdnMxOwaSD1pVjIe9sumlY">'Black&nbsp;Fruit'</a></li>
<li class="asserted"><a href="R95rWYRPmnKmBdiR7HISkvO___-2019495391.html" class='Class' title="http://webprotege.stanford.edu/R95rWYRPmnKmBdiR7HISkvO">'Cabernet&nbsp;Sauvignon'</a></li>
<li class="asserted"><a href="RBWK7rthLFy3VtNN9L73LQd___1322510453.html" class='Class' title="http://webprotege.stanford.edu/RBWK7rthLFy3VtNN9L73LQd">'Dried&nbsp;Fruit'</a></li>
<li class="asserted"><a href="RDDyspdUr8q2Gw3FrdNq5WV___-1587113622.html" class='Class' title="http://webprotege.stanford.edu/RDDyspdUr8q2Gw3FrdNq5WV">'General&nbsp;Aging'</a></li>
<li class="asserted"><a href="R8whcoyiMQL0T3i3UeBIy6T___-615442618.html" class='Class' title="http://webprotege.stanford.edu/R8whcoyiMQL0T3i3UeBIy6T">'Lake&nbsp;Michigan&nbsp;Shore'</a></li>
<li class="asserted"><a href="RjHtm6PEgLyUGJRmdPrI0T___799884114.html" class='Class' title="http://webprotege.stanford.edu/RjHtm6PEgLyUGJRmdPrI0T">'Napa&nbsp;Valley'</a></li>
<li class="asserted"><a href="RrOupVJNFcsAbIVy6fpzX2___1987101763.html" class='Class' title="http://webprotege.stanford.edu/RrOupVJNFcsAbIVy6fpzX2">'Noble&nbsp;Rot'</a></li>
<li class="asserted"><a href="R8BGLt90EtpNpXJDvZlcjbj___715597160.html" class='Class' title="http://webprotege.stanford.edu/R8BGLt90EtpNpXJDvZlcjbj">'Oak&nbsp;Aging'</a></li>
<li class="asserted"><a href="R7wWasQN5q8su6hEOWLFArT___-1465618462.html" class='Class' title="http://webprotege.stanford.edu/R7wWasQN5q8su6hEOWLFArT">'Red&nbsp;Fruit'</a></li>
<li class="asserted"><a href="RLzecz4ZHqJ40yRrEFyQoc___-170203851.html" class='Class' title="http://webprotege.stanford.edu/RLzecz4ZHqJ40yRrEFyQoc">'Tree&nbsp;Fruit'</a></li>
<li class="asserted"><a href="R7HogjhliujNQI7erzCzCYb___722076846.html" class='Class' title="http://webprotege.stanford.edu/R7HogjhliujNQI7erzCzCYb">'Tropical&nbsp;Fruit'</a></li>
<li class="asserted"><a href="R9TH3mEgSZE8pv7plcbW5mw___-59491283.html" class='Class' title="http://webprotege.stanford.edu/R9TH3mEgSZE8pv7plcbW5mw">Argentina</a></li>
<li class="asserted"><a href="RBRsux5ums3iplTuzcJZrUc___1476267524.html" class='Class' title="http://webprotege.stanford.edu/RBRsux5ums3iplTuzcJZrUc">Australia</a></li>
<li class="asserted"><a href="RztwtKLCxvkpbv5oGHKY9q___308909627.html" class='Class' title="http://webprotege.stanford.edu/RztwtKLCxvkpbv5oGHKY9q">Canada</a></li>
<li class="asserted"><a href="RBvNYBSBHpw6NaCCNpb2Seb___-109724498.html" class='Class' title="http://webprotege.stanford.edu/RBvNYBSBHpw6NaCCNpb2Seb">Citrus</a></li>
<li class="asserted"><a href="R9nY4i7A79aSawSxojQp3na___-875454602.html" class='Class' title="http://webprotege.stanford.edu/R9nY4i7A79aSawSxojQp3na">Country</a></li>
<li class="asserted"><a href="RkiGvhLF3mZaIqODuIGbQH___1143440977.html" class='Class' title="http://webprotege.stanford.edu/RkiGvhLF3mZaIqODuIGbQH">Earth</a></li>
<li class="asserted"><a href="RDJolkzCSRkcWh8CY5rsqLc___-1604310365.html" class='Class' title="http://webprotege.stanford.edu/RDJolkzCSRkcWh8CY5rsqLc">Flower</a></li>
<li class="asserted"><a href="Food___1625418323.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#Food">Food</a></li>
<li class="asserted"><a href="RB1GZVeozAKwRVRVu5rrNp2___-1431022349.html" class='Class' title="http://webprotege.stanford.edu/RB1GZVeozAKwRVRVu5rrNp2">France</a></li>
<li class="asserted"><a href="Grape___1692285696.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#Grape">Grape</a></li>
<li class="asserted"><a href="RDbGB3djSn9uGKnztFj3CIG___1162314811.html" class='Class' title="http://webprotege.stanford.edu/RDbGB3djSn9uGKnztFj3CIG">Italy</a></li>
<li class="asserted"><a href="RDJajG8HGrev0Hku8QZErI2___1251198989.html" class='Class' title="http://webprotege.stanford.edu/RDJajG8HGrev0Hku8QZErI2">Microbial</a></li>
<li class="asserted"><a href="Nothing___-782458183.html" class='Class' title="http://www.w3.org/2002/07/owl#Nothing">owl:Nothing</a></li>
<li class="asserted"><a href="Person___-284626614.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#Person">Person</a></li>
<li class="asserted"><a href="PrimaryFlavor___1517921525.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#PrimaryFlavor">PrimaryFlavor</a></li>
<li class="asserted"><a href="Region___-227705623.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#Region">Region</a></li>
<li class="asserted"><a href="SecondaryFlavor___-2019249433.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#SecondaryFlavor">SecondaryFlavor</a></li>
<li class="asserted"><a href="RDXlXlHvq3v96aV7FIOOCeQ___2069456893.html" class='Class' title="http://webprotege.stanford.edu/RDXlXlHvq3v96aV7FIOOCeQ">Spain</a></li>
<li class="asserted"><a href="RDRH7mNkbipIYnIAFnBw3xU___-552054507.html" class='Class' title="http://webprotege.stanford.edu/RDRH7mNkbipIYnIAFnBw3xU">Spice</a></li>
<li class="asserted"><a href="TertiaryFlavor___-1666367611.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#TertiaryFlavor">TertiaryFlavor</a></li>
<li class="asserted"><a href="R99Je3NA6SN8rXlOJHWYcT___-1487398076.html" class='Class' title="http://webprotege.stanford.edu/R99Je3NA6SN8rXlOJHWYcT">US</a></li>
<li class="asserted"><a href="R7MTmcFObWil1FOTysQSAjf___591560974.html" class='Class' title="http://webprotege.stanford.edu/R7MTmcFObWil1FOTysQSAjf">Vegetable</a></li>
<li class="asserted"><a href="Wine___1625918974.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#Wine">Wine</a></li>
<li class="asserted"><a href="WineDescriptor___1302584909.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#WineDescriptor">WineDescriptor</a></li>
<li class="asserted"><a href="WineGrape___-893237129.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#WineGrape">WineGrape</a></li>
<li class="asserted"><a href="Winery___-80660987.html" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#Winery">Winery</a></li>
<li class="asserted"><a href="{{url_for('ontology.get_class', class_name='WineTaste')}}" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#WineTaste">WineTaste</a></li>
<li class="asserted"><a href="{{url_for('ontology.get_class', class_name='WineTaster')}}" class='Class' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#WineTaster">WineTaster</a></li>
</ul>
</div>

</div><!-- owlselector -->
