<div class='owlselector'>
<h2>All Objectproperties (6)</h2>

<div class='codebox' id='ID305790341932484706'>
<ul>
<li class="asserted"><a href="objectproperties/R7iz5lXhUkARtvm7YrIjKtn___1341856261.html" class='Object Property' title="http://webprotege.stanford.edu/R7iz5lXhUkARtvm7YrIjKtn">from</a></li>
<li class="asserted"><a href="objectproperties/RJBsKcrkKw5glXihvCzpqM___1564911436.html" class='Object Property' title="http://webprotege.stanford.edu/RJBsKcrkKw5glXihvCzpqM">has</a></li>
<li class="asserted"><a href="objectproperties/RDLHq6CqCfvbF45wkauKrlX___327216188.html" class='Object Property' title="http://webprotege.stanford.edu/RDLHq6CqCfvbF45wkauKrlX">has_grape_variety</a></li>
<li class="asserted"><a href="objectproperties/RKry7fRyLLQiViD73zAkrC___316439616.html" class='Object Property' title="http://webprotege.stanford.edu/RKry7fRyLLQiViD73zAkrC">has_note</a></li>
<li class="asserted"><a href="objectproperties/located_in___-1133943033.html" class='Object Property' title="http://www.semanticweb.org/wine_joy/ontologies/2022/9/wine_joy_ontology#located_in">located_in</a></li>
<li class="asserted"><a href="objectproperties/topObjectProperty___-102535691.html" class='Object Property' title="http://www.w3.org/2002/07/owl#topObjectProperty">owl:topObjectProperty</a></li>
</ul>
</div>

</div><!-- owlselector -->
